@import url(reset.css);

body {
    color: #69676f;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 1.8em;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size:
            2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    margin: 2% 0;
    text-transform: uppercase;
}

h3 {
    color: #666;
    font-size: 1.2rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.1rem;
    text-transform: uppercase;
}

h5 {
    font-size: 1.05rem;
}

h6 {
    font-size: 1rem;
    margin: 1em 0;
}

ol {
    list-style: lower-roman;
    list-style-position: inside;
}

ul {
    list-style: circle;
    list-style-position: inside;
}

p {
    margin: 0.5em 0;
    text-align: left;
}

a {
    color: #00b69b;
    text-decoration: none;
}

a:hover {
    color: #00d3cc;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote {
    border-color: #eee;
    border-style: solid;
    border-width: 2px 0;
    display: block;
    margin: 1.5em 0;
    padding: 1.5em 0 0.5em;
    position: relative;
}

blockquote:before {
    background: #fff;
    color: #666;
    content: '\201C';
    font: 6em/1.08em 'PT Sans', sans-serif;
    height: 2rem;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translate(-50%,-50%);
    width: 3rem;
}

blockquote:after {
    color: #e74c3c;
    content: "\2013 \2003" attr(cite);
    display: block;
    font-size: 0.875em;
    text-align: right;
}

img {
    width: 100%;
}

.underline {
    text-decoration: underline;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4% 0;
    padding: 0 1%;
}

.col-2 {
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 46%;
}

.col-4 {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.col-6 {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    line-height: 0;
    margin: 0 1.5%;
    position: relative;
    width: 10%;
}

.col-6:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.col-txt {
    bottom: 50%;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
}

.dark {
    color: #69676f;
}

.text-color {
    background-color: #69676f;
}

.link-color {
    background-color: #00b69b;
}

.link-hover {
    background-color: #00d3cc;
}

.light-bg {
    background-color: #fdfaea;
}

.medium-bg {
    background-color: #d4d0ce;
}

.dark-bg {
    background-color: #3d3d3e;
}

.btn,a.alt-btn:hover {
    background-color: #00b69b;
    border: 1px solid #00b69b;
    color: #fff;
    margin:1%;
    padding: 0.7%;
    text-align: center;
    width: 100%;
}

.alt-btn,a.alt-btn {
    background-color: transparent;
    border: 1px solid #00b69b;
    color: #00b69b;
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 1%;
    padding: 0.7%;
    text-align: center;
    width: 100%;
}

a.alt-btn,a.alt-btn:hover {
    width: auto;
}

.profile img {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    max-width: 150px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    border: 1px solid #eee;
    margin: 2%;
    padding: 1.3%;
    text-align: center;
    width: 35%;
}

.card h3 {
    font-size: 1.3rem;
    margin: 1% 0;
}

.card hr {
    border: 1px solid #888;
    width: 20%;
}

.card img {
    margin: 1em auto;
    width: 100%;
}

.card-meta {
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-align: right;
    text-transform: uppercase;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery figure {
    border: 1px solid #d4d0ce;
    margin: 1%;
    padding: 1%;
    width: 45%;
}

.social-icons {
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin: 0.5em;
}

label {
    color: #fff;
}

fieldset {
    margin: 1%;
    width: 100%;
}

input[type="email"],input[type="input"] {
    border: none;
    line-height: 1.8em;
    width: 100%;
}

@media only screen and (min-width: 800px){
    .row {
        flex-wrap: nowrap;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.3333333333333rem;
    }

    h3 {
        font-size: 2.6666666666667rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.3333333333333rem;
    }

    h6 {
        font-size: 1rem;
    }

    .card {
        width: 25%;
    }

    fieldset {
        margin: 1%;
        width: 47%;
    }
}