@import url(reset.css);
@import url(design-system.css);
@import url(blog-post.css);

body {
    color: #4a4737;
}

.container {
    display: grid;
    grid-template-areas: "top" "left" "right" "bottom";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: auto;
    width: 100%;
}

#header {
    background-color: #3d3d3e;
    display: flex;
    flex-direction: row;
    grid-area: top;
}

.logo {
    max-width: 75px;
}

#navigation {
    align-items: center;
    display: flex;
    flex-direction: row;
    grid-area: nav;
    width: 100%;
}

.menu,
.social {
    list-style: none;
}

#sidebar {
    align-items: center;
    background-color: #fdfaea;
    color: #3d3d3e;
    display: flex;
    flex-direction: column;
    grid-area: left;
}

#content {
    grid-area: right;
}

.banner {
    background: url(../images/main-banner.jpg) no-repeat 0 0/cover;
    display: flex;
    flex-wrap: nowrap;
    grid-area: banner;
    height: 50vh;
    max-height: 90vh;
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
}

.intro h2 {
    font-size: 18px;
    margin: 1% 0;
}

.caption {
    color: #fff;
    padding: 12%;
}

.menu {
    width: 100%;
}

.menu li {
    display: inline-block;
    padding: 2%;
}

.active {
    background-color: #00b69b;
}

.menu a {
    font: 0.93333333333333rem 'Source Sans Pro', sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#footer {
    background-color: #3d3d3e;
    display: flex;
    grid-area: bottom;
}

#footer .social-icons {
    border: none;
    text-align: left;
}

.social a,
h4 {
    color: #fff;
}

#subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (min-width: 800px){

    .logo-container {
        margin: 10% 0 0;
    }

    .author {
        margin: 10% 0;
    }

    .banner {
        height: 90vh;
    }

    .blog-banner {
        height: 50vh;
    }

    .logo {
        max-width: 100px;
    }

    .author {
        margin: 10% 0 20%;
    }

    .container {
        grid-template-areas: "left top" "left right" "bottom bottom";
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
        max-width: 1800px;
    }

}